@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Varela+Round&display=swap');
body{
    background-color: rgb(27, 27, 27);
    perspective: 600px;
}
div.container{
    margin: 8% 0 0 15%;
    display: flex;
}

.card{
    width: 20%;
    height: 28rem;
    direction: rtl;
    padding:0 0 10px 0;
    border-radius: 40px;
    background: white;
    margin-left: 50px;
    position: relative;
    transform-style: preserve-3d;
    transform:  perspective(1000px) ;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}

.rgb::after{
    content: "";
    position: absolute;/*
    width: 100%;
    height: 100%;*/
    border-radius: 50px;
    filter: blur(8px);
    background: linear-gradient(45deg,
     #FF7101 10%,
     #FFEC01 20%,
     #33FF01 30%,
     #01FF84 40%,
     #01FFE0 50%,
     #01A3FF 60%,
     #0120FF 70%,
     #9B01FF 80%,
     #FF01F0 90%,
     #FF0000 100%) 100% 50%;
     inset: 2px;
    transform: translateZ(-1px);
    -webkit-animation: rgb 6s  linear infinite;
    animation: rgb 6s  linear infinite;
    
}

@media screen and (max-width:500px){ 
    div.container{
        display: block;
     margin: 40px;
    }
    .card{
        width: 100%;
        margin: 20px 20px;
    }
}



@media screen and (min-width:500px) and (max-width:900px){ 
    div.container{
        display: block;
     margin: 40px;
    }
    .card:nth-child(1) ,
    .card:nth-child(2){
        width: 40%;
        display: inline-block;
        margin: 20px 20px;
    }
    .card:nth-child(3){
        width: 40%;
        display: block;
        margin: 20px 20px;
    }
}


@keyframes rgb{
    0%{background: red;}
    20%{background: rgb(229, 255, 0);}
    30%{background: rgb(0, 255, 85);}
    40%{background: rgb(0, 225, 255);}
    50%{background: rgb(0, 162, 255);}
    60%{background: rgb(25, 0, 255);}
    70%{background: #800080;}
    80%{background: rgb(255, 0, 179);}
    90%{background: #ECFFDC;}
    100%{background: #BDB5D5;}
}
.card h3{
    text-align: center;
    padding: 0px 0 0 0;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}
.card p{
    padding: 0 12px ;
    font-size: 15px;
    font-weight: 520;
    color: rgb(7, 7, 7);
   letter-spacing: 1px;
   font-family: 'Noto Naskh Arabic', serif;
   perspective: 1000px;
}
.card  a{
    text-decoration: none;
    padding: 8px 25px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 30%;
    transition: background .6s , width 2.5s ease-out;
    transform: translate(-50%,-10%);
 text-align: center;
}
.card  .fot-card:hover a{
    background-color: #fbfcff;
    color:rgb(241, 69, 17);
    width: 50%;
}
.card .img{
    width: 100%;
    height: 40%;
    perspective: 600px;
    background-size: cover;
    border-radius: 40px 40px 0 0 ;
}
.fot-card{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-color: rgb(241, 69, 17);
    border-radius:0 0 40px 40px ; 
}

.js-tilt-glare{
    border-radius: 40px ;      
}
.img1{
     background: linear-gradient( 0deg,rgba(0, 0, 0, 0.905) 10% ,rgba(255, 255, 255, 0.048) 70%), url(r.png) ;
}
.img2{
    background: linear-gradient( 0deg,rgba(0, 0, 0, 0.905) 10% ,rgba(255, 255, 255, 0.048) 70%), url(i1.jpg) 20% ; 
}
.img3{
    background: linear-gradient( 0deg,rgba(0, 0, 0, 0.905) 10% ,rgba(255, 255, 255, 0.048) 70%), url(g.jpg) ;
}